.text-typography{
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
}
.text-red{
    --tw-text-opacity: 1;
    color: rgba(220,38,38,var(--tw-text-opacity));
}
.sourcing{
    font-size: 1.5em;
    padding: 0.5rem 0;
    border-bottom: 4px solid #dc2626;
    display: inline;
    font-family: cursive
}
.description-text{
    color: #000!important;
    font-size: 1.4em;
    line-height: 1.75rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    display: inline;
    margin-left: 0.75rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: cursive
}
.heading-text{
    font-size: 1.5rem;
    line-height: 2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-top: 1rem;
    width: 75%;
}
.ques-heading{
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 6%);
    --tw-text-opacity: 1;
    color: rgba(255,255,255,var(--tw-text-opacity));
    background-color: rgba(185,146,75,var(--tw-bg-opacity));
    border-radius: 0.25rem;
    --tw-ring-opacity: 0.6;
    cursor: pointer;
    position: relative;
    --tw-bg-opacity: 0.75;
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    width: 75%;
    justify-content: space-between;
    --tw-space-y-reverse: 0;
    margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}
.ques-heading.show{
    background-color: rgba(185,146,75,var(--tw-bg-opacity));
    --tw-bg-opacity: 1;
}
.svg-container > svg {
    width: 1.5rem;
    height: 1.5rem;
    
}
.ques-wrapper{
    line-height: 1.75rem;
    font-size: 1.125rem;
}
.ques-wrapper > p{
    font-weight: 500;
} 
.red-button{
    display: flex;
    width: 50%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    cursor: pointer;
    border-radius: 0.25rem;
    text-align: center;
    display: block;
    --tw-bg-opacity: 1;
    background-color: rgba(220,38,38,var(--tw-bg-opacity));
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: center;
    --tw-text-opacity: 1;
    border: 0;
    color: rgba(255,255,255,var(--tw-text-opacity));
    --tw-shadow: 0 4px 6px -1px rgba(0,0,0,0.1),0 2px 4px -1px rgba(0,0,0,0.06);
    --tw-ring-offset-shadow: 0 0 transparent;
    --tw-ring-shadow: 0 0 transparent;
    box-shadow: var(--tw-ring-offset-shadow,0 0 transparent),var(--tw-ring-shadow,0 0 transparent),var(--tw-shadow);
}
.button > p {
    text-align: center;
}
.btn-cnt{
    width: 100%;
    justify-content: center;
    display: flex;
    margin: 1rem;
    min-height: 40px;
}
.red-button:hover{
    --tw-bg-opacity: 1;
    background-color: rgba(185,146,74,var(--tw-bg-opacity));
}
.footer-main {
    width: 66.666667%;
    padding-left: 5rem;
    padding-right: 5rem;
    flex-direction: column;
    display: flex;
    --tw-text-opacity: 1;
    color: rgba(255,255,255,var(--tw-text-opacity));
    --tw-bg-opacity: 1;
    background-color: rgba(0,0,0,var(--tw-bg-opacity));
}
.footer-heading > h4 {
    font-size: 3rem;
    line-height: 1;
    text-align: left;
    --tw-text-opacity: 1;
    color: rgba(255,255,255,var(--tw-text-opacity));
    font-weight: 700;
}
.ref-cont{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-top: 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
    flex-direction: row;
    width: 35.333333%;
    --tw-text-opacity: 1;
    color: rgba(185,146,75,var(--tw-text-opacity));
    text-align: center;
    justify-content: space-between;
    display: flex;
}
.ref-cont > a {
    color: inherit;
    text-decoration: inherit
}
.footer-logo{
    justify-content: space-around;
    width: 33.333333%;
    justify-content: space-aroun;
    display: flex;
}
.bg-img{
    height: 100%;
    
}
.bg-img:before{
    content: " ";
    background-color: red;
    width: 20px;
    height: 50%;
    position: absolute;
    left: 49.25%;
}
.img-text{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    width: 50%;
    color: white;
    width: 66.666667%;
    top: 50%;
    margin-left: auto;
    margin-right: auto;
}
.svg-container{
    display: flex;
    justify-content: center;
    align-items: center;
}